@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./font/parry-hotter.regular.woff) format('woff');
  }

body{
    font-family: "MyFont";
    cursor: default;
    background: url("/src/img/background.jpg") no-repeat center center fixed;
}
